<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <title>Log In</title>
  </head>
  <body>
    <header class="nav">
      <a href="/home">Home</a> <a href="/sign-up">Sign up</a>
    </header>
    <main>
      <h1>Log in</h1>
      <% errors.forEach((error)=>{%> <%- include('error',{error}); %> <%});%>
      <form action="/login" method="POST">
        <label for="username"
          >Username:
          <input
            id="username"
            name="username"
            placeholder="username"
            type="text"
        /></label>

        <label for="password"
          >Password: <input id="password" name="password" type="password"
        /></label>

        <button type="submit">Log In</button>
      </form>
    </main>
  </body>
</html>
