<article>
  <% if (post.username){%>
  <h3><%=post.username%></h3>
  <%}%> <%if(!post.username){%>
  <h3>Anonymous</h3>
  <%}%>
  <p class="post-info">
    <h4><%=post.title%></h4>
    <%=post.post%><div class="date"><%=post.date%></div>
  </p>
</article>
