<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Post</title>
  </head>
  <body>
    <h1>Create a post</h1>
    <form action="/create-post" method="POST">
      <label for="post"><textarea name="post" id="post"></textarea></label>
      <button>Post</button>
    </form>
  </body>
</html>
