<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h1>Welcome back <%= user.username%></h1>
    <p><a href="/create-post">Create Post</a> <a href="/logout">Logout</a></p>
    <h2>Posts</h2>
    <% usersPosts.forEach((post)=>{%> <%- include('post',{post}); %> <%});%>
  </body>
</html>
