<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <label for="username">First name:</label>
      <input
        id="username"
        name="username"
        placeholder="first name"
        type="text"
      />
      <label for="surname"
        ><input type="text" name="surname" id="surname" placeholder="Surname"
      /></label>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
