<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form action="/sign-up" method="POST">
      <% errors.forEach((error)=>{%> <%- include('error',{error}); %>
      <%});%>
      <label for="username"
        >Username: <input type="text" name="username" id="username"
      /></label>
      <label for="password">Password: </label>
      <input id="password" name="password" type="password" />
      <label for="passwordConfirmation"
        >Confirm password:
        <input
          type="password"
          name="passwordConfirmation"
          id="passwordConfirmation"
      /></label>

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
