* {
  line-height: 1.5;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  list-style-type: none;
}
:root {
  --primary: #6366f1;
  --primary-hover: #5a52e6;
  --primary-active: #473eeb;
  --bg: #f8fafc;
  --card-bg: #dcfcfaab;
  --text-main: #20314b;
  --text-muted: #64748b;
  --border: #09ecb4;
  --danger: #ef4444;
  --success: #22c55e;
}
body {
  width: 70vw;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a {
  font-size: 1.2rem;
  color: var(--text-main);
  font-weight: 500;
  margin-left: 1.5rem;
}

label {
  display: block;
  margin: 5px;
  gap: 5px;
}
form {
  width: fit-content;
}

form button {
  margin-left: 50%;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.479);
  padding: 0.5rem;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

form button:hover {
  background-color: var(--primary-hover);
}

form button:active {
  background-color: var(--primary-active);
}

input {
  font-size: 0.95rem;
}

textarea {
  font-size: 1rem;
}

.date {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-end;
}

article {
  background-color: var(--card-bg);
  border-radius: 6px;
  padding: 5px;
  border: 2px solid var(--border);
}

.delete-post button {
  margin-left: 33vw;
}

label span {
  vertical-align: top;
}
